@keyframes zoom {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
}

strong {
  font-weight: 700;
}

body * {
  font-family: 'Comfortaa', cursive;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.btn {
  width: 220px;
  font-family: 'Roboto Slab', serif;
  background-color: white;
  color: #7c616c;
}

#toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
  cursor: pointer;
  display: none;
}

/* Header
-----------------------------------------------------------------------------*/

#header * {
  font-family: 'Roboto Slab', serif;
}

#header {
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

#header #header1 {
  background-color: white;
  padding: 0;
}
#header #header1 > img{
  
}

#header #header1 ul {
  padding: 0;
}

#header #header1 ul li.disabled a {
  color: #7c616c;
  cursor: default;
  pointer-events: none;
}

#header #header1 ul li a {
  color: black;
  line-height: 2.5em;
}

#header #header1 ul a {
  transition: background-color .8s;
}

#header #header1 ul li:nth-child(n):nth-last-child(n+3) a:hover {
  background-color: rgba(198, 198, 198);
}

#header #header1 ul li:nth-last-child(-n+2) a {
  transition: transform .5s;
}

#header #header1 ul li:nth-last-child(-n+2) a:hover {
  transform: scale(1.3);
}

#header #header2 {
  background-color: rgba(198, 198, 198);
  padding: 0;
}

#header #header2 ul {
  padding: 0;
}

#header #header2 ul li a {
  color: black;
  line-height: 2.5em;
  transition: background-color .8s;
}

#header #header2 ul li.disabled a {
  color: #7c616c;
  cursor: default;
  pointer-events: none;
}

#header #header2 ul li a:hover {
  background-color: white;
}

/* Middle
-----------------------------------------------------------------------------*/

#homePage #intro {
  padding-top: 12%;
  background-image: url('../assets/images/Home/Home-Background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: zoom 20s infinite;
}

#homePage #intro #introName {
  padding: 10% 0;
}

#homePage #intro #introName h1 {
  font-weight: 300;
  font-size: 4rem;
  color: black;
}

#homePage #intro #introName h3 {
  font-weight: 300;
  color: black;
  padding-bottom: 2%;
}

#homePage #intro #introName .btn {
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  transition: color 0.5s;
  transition: background-color 0.8s;
}

#homePage #intro #introName .btn:last-child {
  color: #7c616c;
  background-color: transparent;
  border: 1px solid #7c616c;
}

#homePage #intro #introName .btn:first-of-type:hover {
  background-color: transparent;
  color: #7c616c;
  border: 1px solid #7c616c;
}

#homePage #intro #introName .btn:last-of-type:hover {
  color: white;
  background-color: #7c616c;
}

#homePage #cards {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  margin-top: -3%;
}

#homePage #cards .card {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 80px #aaa;
  width: 30%;
}

#homePage #cards .col-5 {
  width: 20%;
}

#homePage #cards .card img {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
}

#homePage #cards .card .imageHeading {
  height: 40vh;
  position: relative;
}

#homePage #cards .card .imageHeading h4 {
  font-weight: 400;
  color: #543c46;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2% 1%;
  font-size: 1.2em;
}

#homePage #cards .card:first-child .imageHeading {
  background-image: url('../assets/images/Home/PochistvaneLice.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#homePage #cards .card:nth-child(2) .imageHeading {
  background-image: url('../assets/images/Home/Hubavakoja.jpeg');
  background-position: center;
  background-size: cover;
}

#homePage #cards .card .card-body .card-text {
  font-size: 0.9rem;
}

#homePage #cards .card .card-body .btn {
  font-weight: bold;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
}

#homePage #cards .card .card-body .btn:hover {
  color: white;
  background-color: #7c616c;
}

#homePage #gift {
  margin: 0;
}

#homePage #gift>div {
  margin: 0;
}

#homePage #gift h2 {
  text-transform: uppercase;
  font-weight: 300;
}

#homePage #gift div #text p {
  font-family: 'Roboto Slab', serif;
}

#homePage #gift div #text p:first-of-type {
  font-weight: 300;
}

#homePage #gift div #text a {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  transition: background-color 0.8s;
}

#homePage #gift div #text a:hover {
  background-color: transparent;
  color: #7c616c;
  border: 1px solid #7c616c;
}

/* Footer
-----------------------------------------------------------------------------*/

footer {
  background-color: #191919;
  color: white;
}

footer h2 {
  color: white;
  font-weight: 300;
}

footer #contact img {
  width: 10%;
}

footer #contact a {
  color: white;
  font-family: 'Roboto Slab', serif;
  position: relative;
  text-decoration: none;
}

footer #contact a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

footer #contact a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

footer #workingHours div p {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 1.1rem;
}

footer hr {
  background-color: white;
  width: 80%;
}

footer #socialMedia a {
  transition: transform .5s;
}

footer #socialMedia img {
  width: 40px;
}

footer #socialMedia a:hover {
  transform: scale(1.3);
  filter: drop-shadow(0px 0px 2px grey);
}

/* about me */

#aboutPage #name {
  padding: 9% 0 1% 0;
  font-size: 2rem;
}

#aboutPage #text p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#aboutPage #text p strong {
  font-weight: 700;
}

#aboutPage .btn {
  font-weight: bold;
  transition: background-color 0.8s;
  border: 1px solid #7c616c;
  box-sizing: border-box;
  font-size: 1rem;
}

#aboutPage .btn:hover {
  color: white;
  background-color: #7c616c;
}

#aboutPage #testimonials {
  background-color: #f6eff5;
  font-family: 'Roboto Slab', serif;
}

#aboutPage #testimonials h2 {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  color: black;
}

#aboutPage #testimonials .testimonial .tmText .tmName {
  color: #5c283d;
  font-weight: 700;
}

#aboutPage #testimonials .testimonial .tmText .tmProf {
  color: #7c616c;
  font-weight: 700;
  font-size: 1.2rem;
}

/* Therapies */

#therapiesPage {
  margin-top: 9%;
}

#therapiesPage #therapies .row .therapy {
  padding: 15% 0;
  font-family: 'Bad Script', cursive;
  position: relative;
  text-decoration: none;
  color: black;
}

#therapiesPage #therapies .row .therapy:hover {
  opacity: 0.65;
  font-weight: bold;
}

#therapiesPage #therapies .row .therapy p {
  font-family: 'Bad Script', cursive;
  font-size: 2rem;
}

#therapiesPage #therapies .row:first-child .therapy:first-child {
  background-image: url('../assets/images/Services/PochistvaneLice.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:first-child .therapy:nth-child(2) {
  background-image: url('../assets/images/Services/diamantenomikrodermabrazio.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:first-child .therapy:last-child {
  background-image: url('../assets/images/Services/Oxygen.png');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:nth-child(2) .therapy:first-child {
  background-image: url('../assets/images/Services/химичен.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:nth-child(2) .therapy:nth-child(2) {
  background-image: url('../assets/images/Services/PQAge1.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:nth-child(2) .therapy:last-child {
  background-image: url('../assets/images/Services/migli.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:last-child .therapy:last-child {
  background-image: url('../assets/images/Services/masage.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage .btn {
  font-weight: bold;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
  text-transform: uppercase;
}

#therapiesPage .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* pricelist */

#pricelistPage {
  margin-top: 9%;
}

#pricelistPage #pricelist a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-transform: none;
  color: #7c616c;
  background-color: white;
  transition: background-color 0.8s;
  border: 1px solid #7c616c;
}

#pricelistPage #pricelist a:hover {
  color: white;
  background-color: #7c616c;
}

#pricelistPage #pricelist .card-body>* {
  font-family: 'Roboto Slab', serif;
}

#pricelistPage #pricelist .card-body .light {
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
}

#pricelistPage #pricelist .card-body .odd {
  background-color: #e8e8e8;
}

#pricelistPage #pricelist .card-body div strong {
  font-weight: 700;
}

#pricelistPage main>.btn {
  font-weight: bold;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
  text-transform: uppercase;
}

#pricelistPage main>.btn:hover {
  color: white;
  background-color: #7c616c;
}

/* contact */

#contactPage #contact {
  padding-top: 9%;
  margin: 0;
  padding: 0;
  position: relative;
}

#contactPage #contact iframe {
  width: 100vw;
  height: 80vh;
  margin: 0;
  padding: 0;
  display: block;
}

#contactPage #contact #info * {
  font-family: 'Roboto Slab', serif;
}

#contactPage #contact #info {
  position: absolute;
  bottom: 0;
  background-color: #c6c6c6;
  margin: 0;
  right: 0;
  padding: 0;
  font-size: 0.9rem;
}

#contactPage #contact #info div a {
  color: #5d5d5d;
  text-decoration: none;
  position: relative;
}

#contactPage #contact #info div #tel {
  color: black;
  text-decoration: none;
  position: relative;
}

#contactPage #contact #info div a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2px;
  bottom: 0;
  left: 0;
  background-color: #7c616c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#contactPage #contact #info div a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#contactPage #contact #info>div>p {
  color: #7c616c;
}

#contactPage form * {
  font-family: 'Roboto Slab', serif;
}

#contactPage form textarea {
  width: 100%;
  height: 20vh;
}

#contactPage form .btn {
  outline: none;
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
}

#contactPage form .btn:hover {
  color: #7c616c;
  background-color: white;
}

#contactPage form .form-control {
  outline: none;
  border-color: #7c616c;
}

#contactPage form .form-control:focus {
  box-shadow: inset 0 0px 8px #7c616c, 0 0 10px #7c616c;
}

#contactPage form textarea {
  outline: none;
  border: 1px solid #7c616c;
  border-radius: 3px
}

#contactPage form textarea:focus {
  outline: none;
  border: 1px solid #7c616c;
  box-shadow: inset 0 0px 5px #7c616c, 0 0 10px #7c616c;
}

/* brands */

#brandsPage #brands {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-top: 11%;
  margin-bottom: 4%;
}

#brandsPage #brands a {
  color: #7c616c;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
  border-radius: 3px;
  font-size: 1.5em;
}

#brandsPage #brands a:hover {
  text-decoration: none;
  color: white;
  background-color: #7c616c;
}

/* products */

#productsPage #products {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-top: 11%;
  margin-bottom: 4%;
}

#productsPage #products a {
  border-radius: 3px;
  font-size: 1.5em;
  color: #7c616c;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
}

#productsPage #products a:hover {
  text-decoration: none;
  color: white;
  background-color: #7c616c;
}

/* medik8 */
#medik8Page #medik8 .slick-prev{
  left: -50px;
}
#medik8Page #medik8 .slick-next{
  right: -20px;
}
#medik8Page #medik8 {
  margin-top: 11%;
}

#medik8Page #medik8>h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 1.2em;
}

#medik8Page #medik8 .medik8-row {
  margin-bottom: 4%;
}

#medik8Page #medik8 .medik8-row:last-of-type {
  margin-bottom: 1%;
}

#medik8Page #medik8 .medik8-row .medik8-item img {
  /* width:100%; */
  height: 40vh;
}

#medik8Page #medik8 .medik8-row .medik8-item div h4 {
  font-size: 1rem;
  color: #792841;
}

#medik8Page #medik8 .medik8-row .medik8-item div p {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9rem;
  font-weight: 300;
}

#medik8Page #medik8 .medik8-row .medik8-item .lighter p {
  font-family: 'Roboto Slab', serif;
}

#medik8Page #medik8 .medik8-row .medik8-item .lighter thin {
  font-weight: 100;
  font-family: 'Roboto Slab', serif;
}

#medik8Page #medik8 .medik8-row .medik8-item .lighter strong {
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
}

/* gatineau */
#gatineauPage #gatineau .slick-prev{
  left: -150px;
}
#gatineauPage #gatineau .slick-next{
  right: -50px;
}
#gatineauPage #gatineau {
  margin-top: 11%;
}

#gatineauPage #gatineau>h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 1.2em;
}

#gatineauPage #gatineau .gatineau-row {
  margin-bottom: 4%;
}

#gatineauPage #gatineau .gatineau-row:last-of-type {
  margin-bottom: 1%;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item img {
  /* width:100%; */
  height: 40vh;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item div h4 {
  font-size: 1rem;
  color: #792841;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item div p {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9rem;
  font-weight: 300;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item .lighter p {
  font-family: 'Roboto Slab', serif;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item .lighter thin {
  font-weight: 100;
  font-family: 'Roboto Slab', serif;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item .lighter strong {
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
}

/* TherapiesPQ */

#therapiesPQPage #therapiesPQ .therapiesPQbg {
  background-image: url('../assets/images/Services/terapiesSub/PQAge1.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}

#therapiesPQPage #therapiesPQ .therapiesPQbg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#therapiesPQPage #therapiesPQ .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#therapiesPQPage #therapiesPQ .text p {
  font-size: 1rem;
}

#therapiesPQPage #therapiesPQ .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#therapiesPQPage #therapiesPQ .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#therapiesPQPage #therapiesPQ .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* oxygen */

#oxygenPage #oxygen .oxygenbg {
  background-image: url('../assets/images/Services/terapiesSub/Oxygen.png');
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}

#oxygenPage #oxygen .oxygenbg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#oxygenPage #oxygen .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#oxygenPage #oxygen .text p {
  font-size: 1rem;
}

#oxygenPage #oxygen .text ul {
  color: #980c4a;
}

#oxygenPage #oxygen .text ul p {
  color: black;
}

#oxygenPage #oxygen .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#oxygenPage #oxygen .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#oxygenPage #oxygen .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* massages */

#massagesPage #massages .massagesbg {
  background-image: url('../assets/images/Services/terapiesSub/masage.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}

#massagesPage #massages .massagesbg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#massagesPage #massages .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#massagesPage #massages .text p {
  font-size: 1rem;
}

#massagesPage #massages .text ul {
  color: #980c4a;
}

#massagesPage #massages .text ul p {
  color: black;
}

#massagesPage #massages .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#massagesPage #massages .text .caps {
  text-transform: uppercase;
}

#massagesPage #massages .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#massagesPage #massages .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* eyelashes */

#eyelashesPage #eyelashes .eyelashesbg {
  background-image: url('../assets/images/Services/terapiesSub/migli.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}

#eyelashesPage #eyelashes .eyelashesbg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#eyelashesPage #eyelashes .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#eyelashesPage #eyelashes .text p {
  font-size: 1rem;
}

#eyelashesPage #eyelashes .text ul {
  color: #980c4a;
}

#eyelashesPage #eyelashes .text ul p {
  color: black;
}

#eyelashesPage #eyelashes .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#eyelashesPage #eyelashes .text .caps {
  text-transform: uppercase;
}

#eyelashesPage #eyelashes .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#eyelashesPage #eyelashes .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* mikrodermaobrazio */

#mikrodermaobrazioPage #mikrodermaobrazio .mikrodermaobraziobg {
  background-image: url('../assets/images/Services/terapiesSub/diamantenomikrodermabrazio.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}

#mikrodermaobrazioPage #mikrodermaobrazio .mikrodermaobraziobg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#mikrodermaobrazioPage #mikrodermaobrazio .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#mikrodermaobrazioPage #mikrodermaobrazio .text p {
  font-size: 1rem;
}

#mikrodermaobrazioPage #mikrodermaobrazio .text ul {
  color: #980c4a;
}

#mikrodermaobrazioPage #mikrodermaobrazio .text ul p {
  color: black;
}

#mikrodermaobrazioPage #mikrodermaobrazio .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#mikrodermaobrazioPage #mikrodermaobrazio .text .caps {
  text-transform: uppercase;
}

#mikrodermaobrazioPage #mikrodermaobrazio .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#mikrodermaobrazioPage #mikrodermaobrazio .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* pochistvane */

#pochistvanePage #pochistvane .pochistvanebg {
  background-image: url('../assets/images/Services/terapiesSub/PochistvaneLice.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}

#pochistvanePage #pochistvane .pochistvanebg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#pochistvanePage #pochistvane .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#pochistvanePage #pochistvane .text p {
  font-size: 1rem;
}

#pochistvanePage #pochistvane .text ul {
  color: #980c4a;
}

#pochistvanePage #pochistvane .text ul p {
  color: black;
}

#pochistvanePage #pochistvane .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#pochistvanePage #pochistvane .text .caps {
  text-transform: uppercase;
}

#pochistvanePage #pochistvane .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#pochistvanePage #pochistvane .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* himichen */

#himichenPage #himichen .himichenbg {
  background-image: url('../assets/images/Services/terapiesSub/himichenpiling.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}

#himichenPage #himichen .himichenbg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#himichenPage #himichen .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#himichenPage #himichen .text p {
  font-size: 1rem;
}

#himichenPage #himichen .text ul {
  color: #980c4a;
}

#himichenPage #himichen .text ul p {
  color: black;
}

#himichenPage #himichen .text p.bold {
  font-weight: bold;
}

#himichenPage #himichen .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#himichenPage #himichen .text .caps {
  text-transform: uppercase;
}

#himichenPage #himichen .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#himichenPage #himichen .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* enerpeelBrand */

#enerpeelBrandPage #enerpeelBrand .enerpeelBrandbg {
  padding: 8% 0% 0% 0%;
}

#enerpeelBrandPage #enerpeelBrand .enerpeelBrandbg p {
  text-align: center;
  padding: 2%;
  font-size: 6rem;
  font-family: 'Roboto Slab', serif;
  color: white;
  font-weight: 200;
}

#enerpeelBrandPage #enerpeelBrand .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#enerpeelBrandPage #enerpeelBrand .text p {
  font-size: 1rem;
}

#enerpeelBrandPage #enerpeelBrand .text h4 {
  font-size: 1rem;
}

#enerpeelBrandPage #enerpeelBrand .text p.pink {
  color: #980c4a;
}

#enerpeelBrandPage #enerpeelBrand .text p.bold {
  font-weight: bold;
}

#enerpeelBrandPage #enerpeelBrand .text .caps {
  text-transform: uppercase;
}

#enerpeelBrandPage #enerpeelBrand .text ul p {
  text-transform: none;
}

#enerpeelBrandPage #enerpeelBrand .text ul {
  list-style-position: unset;
}

#enerpeelBrandPage #enerpeelBrand .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#enerpeelBrandPage #enerpeelBrand .btn:hover {
  color: white;
  background-color: #7c616c;
}

#enerpeelBrandPage #enerpeelBrand .pink.bold.caps {
  font-family: 'Roboto Slab', serif;
  text-align: left;
  text-transform: uppercase;
  color: #980c4a;
  font-weight: bold;
}

/* gatineauBrand */

#gatineauBrandPage #gatineauBrand {
  margin-top: 8%;
}

#gatineauBrandPage #gatineauBrand .gatineauBrandbg p {
  text-align: center;
  padding: 2%;
  font-size: 6rem;
  font-family: 'Roboto Slab', serif;
  color: white;
  font-weight: 200;
}

#gatineauBrandPage #gatineauBrand .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#gatineauBrandPage #gatineauBrand .text p {
  font-size: 1rem;
}

#gatineauBrandPage #gatineauBrand .text .pink {
  color: #980c4a;
}

#gatineauBrandPage #gatineauBrand .text .bold {
  font-weight: bold;
}

#gatineauBrandPage #gatineauBrand .text .caps {
  text-transform: uppercase;
}

#gatineauBrandPage #gatineauBrand .text ul p {
  text-transform: none;
}

#gatineauBrandPage #gatineauBrand .text ul {
  list-style-position: unset;
}

#gatineauBrandPage #gatineauBrand .text h4 {
  color: #980c4a;
  font-size: 1rem;
}

#gatineauBrandPage .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#gatineauBrandPage .btn:hover {
  color: white;
  background-color: #7c616c;
}

#gatineauBrandPage #gatineauBrand .pink.bold.caps {
  font-family: 'Roboto Slab', serif;
  text-align: left;
  text-transform: uppercase;
  color: #980c4a;
  font-weight: bold;
}

/* medik8Brand */

#medik8BrandPage #medik8Brand {
  margin-top: 8%;
}

#medik8BrandPage #medik8Brand div img {
  width: 100%;
}

#medik8BrandPage #medik8Brand .medik8Brandbg p {
  text-align: center;
  padding: 2%;
  font-size: 6rem;
  font-family: 'Roboto Slab', serif;
  color: white;
  font-weight: 200;
}

#medik8BrandPage #medik8Brand .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#medik8BrandPage #medik8Brand .text p {
  font-size: 1rem;
}

#medik8BrandPage #medik8Brand .text .pink {
  color: #980c4a;
}

#medik8BrandPage #medik8Brand .text .bold {
  font-weight: bold;
}

#medik8BrandPage #medik8Brand .text .caps {
  text-transform: uppercase;
}

#medik8BrandPage #medik8Brand .text ul p {
  text-transform: none;
}

#medik8BrandPage #medik8Brand .text ul {
  list-style-position: unset;
}

#medik8BrandPage #medik8Brand .text h4 {
  color: #980c4a;
  font-size: 1rem;
}

#medik8BrandPage .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#medik8BrandPage .btn:hover {
  color: white;
  background-color: #7c616c;
}

#medik8BrandPage #medik8Brand .pink.bold.caps {
  font-family: 'Roboto Slab', serif;
  text-align: left;
  text-transform: uppercase;
  color: #980c4a;
  font-weight: bold;
}

/* promoitaliaBrand */

#promoitaliaBrandPage #promoitaliaBrand .promoitaliaBrandbg {
  padding: 5% 0% 0% 0%;
}

#promoitaliaBrandPage #promoitaliaBrand .promoitaliaBrandbg p {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: white;
  font-weight: 200;
}

#promoitaliaBrandPage #promoitaliaBrand .promoitaliaBrandbg p:first-child {
  font-size: 6rem;
  padding-top: 15%;
  margin-bottom: 0;
}

#promoitaliaBrandPage #promoitaliaBrand .promoitaliaBrandbg p:nth-of-type(2) {
  font-size: 3rem;
}

#promoitaliaBrandPage #promoitaliaBrand .promoitaliaBrandbg p:last-child {
  font-size: 2rem;
  padding-top: 2%;
  padding-bottom: 5%;
}

#promoitaliaBrandPage #promoitaliaBrand .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#promoitaliaBrandPage #promoitaliaBrand .text p {
  font-size: 1rem;
}

#promoitaliaBrandPage #promoitaliaBrand .text .pink {
  color: #980c4a;
}

#promoitaliaBrandPage #promoitaliaBrand .text .bold {
  font-weight: bold;
}

#promoitaliaBrandPage #promoitaliaBrand .text .caps {
  text-transform: uppercase;
}

#promoitaliaBrandPage #promoitaliaBrand .text ul p {
  text-transform: none;
}

#promoitaliaBrandPage #promoitaliaBrand .text ul {
  list-style-position: unset;
}

#promoitaliaBrandPage #promoitaliaBrand .text h4 {
  color: #980c4a;
  font-size: 1rem;
}

#promoitaliaBrandPage .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#promoitaliaBrandPage .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* homeBox1 */

#homeBox1Page #homeBox1 .homeBox1bg {
  background-image: url('../assets/images/Home/model-face-beautiful-black-and-white-407035-2.jpeg');
  background-position: center;
  background-size: cover;
  height: 90vh;
  position: relative;
  margin-top: 5%;
}

#homeBox1Page #homeBox1 .homeBox1bg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #980c4a
}

#homeBox1Page #homeBox1 .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#homeBox1Page #homeBox1 .text p {
  font-size: 1rem;
}

#homeBox1Page #homeBox1 .text ul {
  color: #980c4a;
}

#homeBox1Page #homeBox1 .text ul p {
  color: black;
}

#homeBox1Page #homeBox1 .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#homeBox1Page #homeBox1 .text .caps {
  text-transform: uppercase;
}

#homeBox1Page #homeBox1 .text .pink {
  color: #980c4a;
}

#homeBox1Page #homeBox1 .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#homeBox1Page #homeBox1 .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* homeBox2 */

#homeBox2Page #homeBox2 {
  margin-top: 7%;
}

#homeBox2Page #homeBox2 .homeBox2bg img {
  width: 100%;
}

#homeBox2Page #homeBox2 .homeBox2bg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #980c4a
}

#homeBox2Page #homeBox2 .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#homeBox2Page #homeBox2 .text p {
  font-size: 1rem;
}

#homeBox2Page #homeBox2 .text ul {
  color: #980c4a;
}

#homeBox2Page #homeBox2 .text ul p {
  color: black;
}

#homeBox2Page #homeBox2 .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#homeBox2Page #homeBox2 .text .caps {
  text-transform: uppercase;
}

#homeBox2Page #homeBox2 .text .pink {
  color: #980c4a;
}

#homeBox2Page #homeBox2 .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#homeBox2Page #homeBox2 .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* homeBox3 */

#homeBox3Page #homeBox3 .homeBox3bg {
  background-image: url('../assets/images/Home/model-face-beautiful-black-and-white-407035-2.jpeg');
  background-position: center;
  background-size: cover;
  height: 90vh;
  position: relative;
  margin-top: 5%;
}

#homeBox3Page #homeBox3 .homeBox3bg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #980c4a
}

#homeBox3Page #homeBox3 .text * {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#homeBox3Page #homeBox3 .text p {
  font-size: 1rem;
}

#homeBox3Page #homeBox3 .text strong {
  font-weight: bold;
}

#homeBox3Page #homeBox3 .text ul {
  color: #980c4a;
}

#homeBox3Page #homeBox3 .text ul p {
  color: black;
}

#homeBox3Page #homeBox3 .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#homeBox3Page #homeBox3 .text .caps {
  text-transform: uppercase;
}

#homeBox3Page #homeBox3 .text .pink {
  color: #980c4a;
}

#homeBox3Page #homeBox3 .btn {
  border-color: #7c616c;
  font-weight: bold;
  transition: background-color 0.8s;
}

#homeBox3Page #homeBox3 .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* orderPage */

#orderPage {
  margin-top: 10%;
}

#orderPage form * {
  font-family: 'Roboto Slab', serif;
}

#orderPage form h2 {
  font-size: 2.5rem;
}

#orderPage form .btn {
  outline: none;
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
}

#orderPage form .btn:hover {
  color: #7c616c;
  background-color: white;
}

#orderPage form .form-control {
  outline: none;
  border-color: #7c616c;
}

#orderPage form .form-control:focus {
  box-shadow: inset 0 0px 8px #7c616c, 0 0 10px #7c616c;
}

/* filledFormPage */

#filledFormPage {
  border: 2px solid #7c616c;
  padding:0;
  padding-bottom:1%;
}
#filledFormPage h2{
  background: #7c616c;
  color: white;
  padding:2%;
}

#filledFormPage .btn {
  outline: none;
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
}

#filledFormPage .btn:hover {
  color: #7c616c;
  background-color: white;
}