@keyframes zoom {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
}
.strong{
  font-weight: 700;
}
body * {
  font-family: 'Comfortaa', cursive;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* Header
-----------------------------------------------------------------------------*/

#header * {
  font-family: 'Roboto Slab', serif;
}

#header {
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
}

#header #header1 {
  background-color: white;
  padding: 0;
}

#header #header1 ul {
  padding: 0;
}

#header #header1 ul li.disabled a {
  color: #7c616c;
  cursor: default;
  pointer-events: none;
}

#header #header1 ul li a {
  color: black;
  line-height: 2.5em;
}

#header #header1 ul a {
  transition: background-color .8s;
}

#header #header1 ul li:nth-child(n):nth-last-child(n+3) a:hover {
  background-color: rgba(198, 198, 198);
}

#header #header1 ul li:nth-last-child(-n+2) a {
  transition: transform .5s;
}

#header #header1 ul li:nth-last-child(-n+2) a:hover {
  transform: scale(1.3);
}

#header #header2 {
  background-color: rgba(198, 198, 198);
  padding: 0;
}

#header #header2 ul {
  padding: 0;
}

#header #header2 ul li a {
  color: black;
  line-height: 2.5em;
  transition: background-color .8s;
}

#header #header2 ul li.disabled a {
  color: #7c616c;
  cursor: default;
  pointer-events: none;
}

#header #header2 ul li a:hover {
  background-color: white;
}

/* Middle
-----------------------------------------------------------------------------*/

#homePage #intro {
  padding-top: 12%;
  background-image: url('../assets/images/Home/Home-Background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: zoom 20s infinite;
}

#homePage #intro #introName {
  padding: 10% 0;
}

#homePage #intro #introName h1 {
  font-weight: 300;
  font-size: 4rem;
  color: black;
}

#homePage #intro #introName h3 {
  font-weight: 300;
  color: black;
  padding-bottom: 2%;
}

#homePage #intro #introName .btn {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  transition: color 0.5s;
  transition: background-color 0.8s;
}

#homePage #intro #introName .btn:last-child {
  color: #7c616c;
  background-color: transparent;
  border: 1px solid #7c616c;
}

#homePage #intro #introName .btn:first-of-type:hover {
  background-color: transparent;
  color: #7c616c;
  border: 1px solid #7c616c;
}

#homePage #intro #introName .btn:last-of-type:hover {
  color: white;
  background-color: #7c616c;
}

#homePage #cards {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  margin-top: -3%;
}

#homePage #cards .card {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 80px #aaa;
  width: 30%;
}

#homePage #cards .col-5 {
  width: 20%;
}

#homePage #cards .card img {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
}

#homePage #cards .card .imageHeading {
  height: 40vh;
  position: relative;
}

#homePage #cards .card .imageHeading h4 {
  font-weight: 400;
  color: #543c46;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2% 1%;
  font-size: 1.2em;
}

#homePage #cards .card:first-child .imageHeading {
  background-image: url('../assets/images/Home/PochistvaneLice.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#homePage #cards .card:nth-child(2) .imageHeading {
  background-image: url('../assets/images/Home/Hubavakoja.jpeg');
  background-position: center;
  background-size: cover;
}

#homePage #cards .card .card-body .card-text {
  font-size: 0.9rem;
}

#homePage #cards .card .card-body .btn {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #7c616c;
  background-color: white;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
}

#homePage #cards .card .card-body .btn:hover {
  color: white;
  background-color: #7c616c;
}

#homePage #gift {
  margin: 0;
}

#homePage #gift>div {
  margin: 0;
}

#homePage #gift h2 {
  text-transform: uppercase;
  font-weight: 300;
}

#homePage #gift div #text p {
  font-family: 'Roboto Slab', serif;
}

#homePage #gift div #text p:first-of-type {
  font-weight: 300;
}

#homePage #gift div #text button {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  transition: background-color 0.8s;
}

#homePage #gift div #text button:hover {
  background-color: transparent;
  color: #7c616c;
  border: 1px solid #7c616c;
}

/* Footer
-----------------------------------------------------------------------------*/

footer {
  background-color: #191919;
  color: white;
}

footer h2 {
  color: white;
  font-weight: 300;
}

footer #contact img {
  width: 10%;
}

footer #contact a {
  color: white;
  font-family: 'Roboto Slab', serif;
  position: relative;
  text-decoration: none;
}

footer #contact a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

footer #contact a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

footer #workingHours div p {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 1.1rem;
}

footer hr {
  background-color: white;
  width: 80%;
}

footer #socialMedia a {
  transition: transform .5s;
}

footer #socialMedia img {
  width: 40px;
}

footer #socialMedia a:hover {
  transform: scale(1.3);
  filter: drop-shadow(0px 0px 2px grey);
}
/* about me */

#aboutPage #name{
  padding:9% 0 1% 0;
  font-size:2rem;
}
#aboutPage #text p{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
#aboutPage #text p strong{
  font-weight: 700;
}
#aboutPage .btn {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #7c616c;
  background-color: white;
  transition: background-color 0.8s;
  border:1px solid #7c616c;
  box-sizing: border-box;
}

#aboutPage .btn:hover {
  color:white;
  background-color: #7c616c;
}
#aboutPage #testimonials{
  background-color: #f6eff5;
  font-family: 'Roboto Slab', serif;
}
#aboutPage #testimonials .testimonial h2{
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  color:black;
}
#aboutPage #testimonials .testimonial .tmText .tmName{
  color: #5c283d;
  font-weight: 700;
}
#aboutPage #testimonials .testimonial .tmText .tmProf{
  color: #7c616c;
  font-weight: 700;
  font-size: 1.2rem;
}
/* Therapies */
#therapiesPage{
  margin-top:9%;
}
#therapiesPage #therapies .row .therapy{
  padding: 15% 0;
  font-family: 'Bad Script', cursive;
  position: relative;
}
#therapiesPage #therapies .row .therapy:hover{
  opacity: 0.65;
  font-weight: bold;
}

#therapiesPage #therapies .row .therapy p{
  font-family: 'Bad Script', cursive;
  font-size:2rem;
}
#therapiesPage #therapies .row:first-child .therapy:first-child{
  background-image: url('../assets/images/Services/PochistvaneLice.jpg');
  background-position: center;
  background-size: cover;
}
#therapiesPage #therapies .row:first-child .therapy:nth-child(2){
  background-image: url('../assets/images/Services/diamantenomikrodermabrazio.jpg');
  background-position: center;
  background-size: cover;
}
#therapiesPage #therapies .row:first-child .therapy:last-child{
  background-image: url('../assets/images/Services/Oxygen.png');
  background-position: center;
  background-size: cover;
}
#therapiesPage #therapies .row:nth-child(2) .therapy:first-child{
  background-image: url('../assets/images/Services/химичен.jpg');
  background-position: center;
  background-size: cover;
}
#therapiesPage #therapies .row:nth-child(2) .therapy:nth-child(2){
  background-image: url('../assets/images/Services/PQAge1.jpg');
  background-position: center;
  background-size: cover;
}
#therapiesPage #therapies .row:nth-child(2) .therapy:last-child{
  background-image: url('../assets/images/Services/migli.jpg');
  background-position: center;
  background-size: cover;
}
#therapiesPage #therapies .row:last-child .therapy:last-child{
  background-image: url('../assets/images/Services/masage.jpg');
  background-position: center;
  background-size: cover;
}
#therapiesPage .btn {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #7c616c;
  background-color: white;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
  text-transform: uppercase;
}

#therapiesPage .btn:hover {
  color: white;
  background-color: #7c616c;
}
/* pricelist */
#pricelistPage .btn {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #7c616c;
  background-color: white;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
  text-transform: uppercase;
}
#pricelistPage .btn:hover {
  color: white;
  background-color: #7c616c;
}
#pricelistPage{
  margin-top:9%;
}
#pricelistPage #pricelist .priceitem a {
  position: relative;
  text-decoration: none;
}
#pricelistPage #pricelist .priceitem a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2px;
  bottom: 0;
  left: 0;
  background-color: #7c616c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#pricelistPage #pricelist .priceitem a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* contact */
#contactPage #contact{
  padding-top:9%;
  margin:0;
  padding:0;
  position: relative;
}

#contactPage #contact iframe{
  width:100vw;
  height: 80vh;
  margin:0;
  padding:0;
  display:block;
}
#contactPage #contact #info *{
  font-family: 'Roboto Slab', serif;
}
#contactPage #contact #info{
  position: absolute;
  bottom:0;
  background-color:#c6c6c6;
  margin:0;
  right:0;
  padding:0;
  font-size:0.9rem;
}
#contactPage #contact #info div a {
  color:#5d5d5d;
  text-decoration: none;
  position: relative;
}

#contactPage #contact #info div a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2px;
  bottom: 0;
  left: 0;
  background-color: #7c616c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#contactPage #contact #info div a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#contactPage #contact #info > div > p {
  color: #7c616c;
}
#contactPage form *{
  font-family: 'Roboto Slab', serif;
}

#contactPage form textarea{
  width:100%;
  height: 20vh;
}
#contactPage form .btn{
  background-color: #7c616c;
  color:white;
}
#contactPage form .btn {
  outline: none;
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
}
#contactPage form .btn:hover {
  color: #7c616c;
  background-color: white;
}
#contactPage form .form-control{
  outline: none;
  border-color:#7c616c;
}
#contactPage form .form-control:focus{
  box-shadow: inset 0 0px 8px #7c616c, 0 0 10px #7c616c;
}
#contactPage form textarea{
  outline: none;
  border: 1px solid #7c616c;  
  border-radius:3px
}
#contactPage form textarea:focus {
  outline: none;
  border: 1px solid #7c616c; 
  box-shadow: inset 0 0px 5px #7c616c, 0 0 10px #7c616c;
}
/* brands */
#brandsPage #brands{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-top:11%;
  margin-bottom:4%;

}
#brandsPage #brands a{
  color: #7c616c;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
  border-radius: 3px;
  font-size:1.5em;
}

#brandsPage #brands a:hover {
  text-decoration: none;
  color: white;
  background-color: #7c616c;
}
/* products */

#productsPage #products{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-top:11%;
  margin-bottom:4%;

}
#productsPage #products a{
  border-radius: 3px;
  font-size:1.5em;
  color: #7c616c;
  border: 1px solid #7c616c;
  transition: background-color 0.8s;
  
}

#productsPage #products a:hover {
  text-decoration: none;
  color: white;
  background-color: #7c616c;
}
#medik8Page #medik8{
  margin-top:11%;
}
#medik8Page #medik8 > h3{
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 1.2em;
}
#medik8Page #medik8 .medik8-row{
  margin-bottom:4%;
}
#medik8Page #medik8 .medik8-row:last-of-type{
  margin-bottom:1%;
}
#medik8Page #medik8 .medik8-row .medik8-item img{
  /* width:100%; */
  height: 40vh;
}
#medik8Page #medik8 .medik8-row .medik8-item div h4{
  font-size: 1rem;
  color: #792841;
}
#medik8Page #medik8 .medik8-row .medik8-item div p{
  font-family: 'Roboto Slab', serif;
  font-size: 0.9rem;
  font-weight: 300;
}
#medik8Page #medik8 .medik8-row .medik8-item .lighter p{
  font-family: 'Roboto Slab', serif;
}
#medik8Page #medik8 .medik8-row .medik8-item .lighter thin{
  font-weight: 100;
  font-family: 'Roboto Slab', serif;
}
#medik8Page #medik8 .medik8-row .medik8-item .lighter strong{
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
}