@-webkit-keyframes zoom {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 120% 120%;
  }

  100% {
    background-size: 100% 100%;
  }
}

@keyframes zoom {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 120% 120%;
  }

  100% {
    background-size: 100% 100%;
  }
}


@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.80);
    transform: scale(0.80);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}


h2 {
  color: #980c4a;
  font-size: 1.5rem;
  font-family: 'Comfortaa', cursive !important;
}

h3 {
  color: #980c4a;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Comfortaa', cursive !important;
}

h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Comfortaa', cursive !important;
}

.link {
  color: #980c4a;
  text-decoration: underline;
}

ul li {
  color: black;
}

img {
  max-width: 100%;
}

.bold {
  font-weight: 600 !important;
}

.caps {
  text-transform: uppercase !important;
}

body * {
  font-family: 'Roboto Slab', serif;
}

html,
body {
  overflow-x: hidden;
}

.btn {
  width: 220px;
  font-family: 'Roboto Slab', serif;
  background-color: white;
  color: #7c616c;
}

.stop-scrolling {
  overflow: hidden;
  height: 100%;
}

#toTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}

.logo {
  width: 140px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-arrow {
  width: 10px;
}

.dropdown-menu {
  background: #191919;
}

.nav-link.dropdown-toggle {
  color: #7c616c;
}

.dropdown-item.disabled {
  color: #7c616c !important;
  cursor: default;
  pointer-events: none;
}

.therapies-dropdown.mobile .dropdown-item:hover {
  color: inherit;
  background-color: inherit;
}


/* Header
-----------------------------------------------------------------------------*/

#header {
  display: none;
}

#mobileHeader {
  display: block;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

#mobileHeader * {
  font-family: 'Roboto Slab', serif;
}

#mobileHeader #mobHead .headerIcons {
  height: 10vh;
}

#mobileHeader #mobHead .headerIcons .hamburgerBtn {
  width: 30px;
  cursor: pointer;
}

#mobileHeader #mobHead .headerIcons .logo {
  width: 120px;
}

#mobileHeader #mobHead .headerIcons .cross {
  display: none;
  width: 20px;
  cursor: pointer;
}

#mobileHeader #mobHead .headerIcons img {
  margin: 0 2%;
}

#mobileHeader #mobHead {
  background-color: #191919;
  height: 10vh;
  position: relative;
  padding: 0;
}

#mobileHeader #mobHead .hamburgerMenu {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0;
  background-color: #191919;
  height: 90vh;
  overflow: scroll;
  padding-bottom: 1vh;
}

#mobileHeader #mobHead .hamburgerMenu #hamburgerDropdown hr {
  background-color: white;
  width: 75%;
}

#mobileHeader #mobHead .hamburgerMenu #hamburgerDropdown>a.disabled {
  color: #7c616c;
  cursor: default;
  pointer-events: none;
}

#mobileHeader #mobHead .hamburgerMenu #hamburgerDropdown {
  padding-bottom: 1vh;
}

#mobileHeader #mobHead .hamburgerMenu #hamburgerDropdown a {
  color: white;
  font-size: 0.9rem;
}

/* Footer
-----------------------------------------------------------------------------*/

footer {
  background-color: #191919;
  color: white;
}

footer h2 {
  color: white;
  font-weight: 300;
}

footer #contact img {
  width: 30px;
}

footer #contact a {
  color: white;
  font-family: 'Roboto Slab', serif;
  position: relative;
  text-decoration: none;
}

footer #contact a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

footer #contact a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

footer #workingHours div p {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 1.1rem;
}

footer hr {
  background-color: white;
  width: 80%;
}

footer #socialMedia a {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

footer #socialMedia img {
  width: 40px;
}

footer #socialMedia a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-filter: drop-shadow(0px 0px 2px grey);
  filter: drop-shadow(0px 0px 2px grey);
}

/* Home */

#homePage #intro {
  padding-top: 12%;
  background-image: url('../assets/images/Home/Home-Background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: zoom 20s infinite;
  animation: zoom 20s infinite;
}

#homePage #intro #introName {
  padding: 10% 0;
}

#homePage #intro #introName h1 {
  font-weight: 300;
  font-size: 3rem;
  color: black;
}

#homePage #intro #introName h3 {
  font-weight: 300;
  color: black;
  padding-bottom: 2%;
  font-size: 1.5rem
}

#homePage #intro #introName .btn {
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#homePage #intro #introName .btn:last-child {
  color: #7c616c;
  background-color: transparent;
  border: 1px solid #7c616c;
}

#homePage #intro #introName .btn:first-of-type:hover {
  background-color: transparent;
  color: #7c616c;
  border: 1px solid #7c616c;
}

#homePage #intro #introName .btn:last-of-type:hover {
  color: white;
  background-color: #7c616c;
}

#homePage #cards {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  margin-top: -3%;
}

#homePage #cards .card {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: 0 0 80px #aaa;
  box-shadow: 0 0 80px #aaa;
}

#homePage #cards .col-5 {
  width: 20%;
}

#homePage #cards .card img {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
}

#homePage #cards .card .imageHeading {
  height: 40vh;
  position: relative;
}

#homePage #cards .card .imageHeading h4 {
  font-weight: 400;
  color: #543c46;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2% 1%;
  font-size: 1.2rem;
}

#homePage #cards .card:first-child .imageHeading {
  background-image: url('../assets/images/Home/PochistvaneLice.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#homePage #cards .card:nth-child(2) .imageHeading {
  background-image: url('../assets/images/Home/Hubavakoja.jpeg');
  background-position: center;
  background-size: cover;
}

#homePage #cards .card:last-child .imageHeading {
  background-image: url('../assets/images/Home/news3_home.jpg');
  background-position: center;
  background-size: cover;
}

#homePage #cards .card .card-body .card-text {
  font-size: 1rem;
}

#homePage #cards .card .card-body .btn {
  font-weight: bold;
  border: 1px solid #7c616c;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#homePage #cards .card .card-body .btn:hover {
  color: white;
  background-color: #7c616c;
}

#homePage #newRazorlase h3 {
  color: #7c616c;
  font-size: 1.2rem;
}

#homePage #newRazorlase .btn {
  color: #7c616c;
  background-color: transparent;
  border: 1px solid #7c616c;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
  font-weight: bold;
}

#homePage #newRazorlase .btn:hover {
  color: white;
  background-color: #7c616c;
}

#homePage #brands {
  background-color: #525252;
  margin: 5rem 0;
  padding: 1rem 0;
}

#homePage #brands h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
}

#homePage #gift {
  margin: 0;
}

#homePage #gift>div {
  margin: 0;
}

#homePage #gift h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
}

#homePage #gift div #text p {
  font-family: 'Roboto Slab', serif;
}

#homePage #gift div #text p:first-of-type {
  font-weight: 300;
}

#homePage #gift div #text a {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#homePage #gift div #text a:hover {
  background-color: transparent;
  color: #7c616c;
  border: 1px solid #7c616c;
}

#homePage #testimonials {
  background-color: #f6eff5;
  font-family: 'Roboto Slab', serif;
}

#homePage #testimonials h2 {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  color: black;
  font-size: 1.5rem;
}

#homePage #testimonials .testimonial .tmText .tmName {
  color: #5c283d;
  font-weight: 700;
}

#homePage #testimonials .testimonial .tm-image {
  width: 120px;
  padding: 0;
}

#homePage #testimonials .testimonial .tmText .tmProf {
  color: #7c616c;
  font-weight: 700;
  font-size: 1.2rem;
}

/* about me */

#aboutPage #name {
  padding: 20% 0 1% 0;
  font-size: 2rem;
}

#aboutPage .vasilena {
  width: 250px;
}

#aboutPage #text p {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

#aboutPage #text p strong {
  font-weight: 700;
}

#aboutPage .btn {
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
  border: 1px solid #7c616c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
}

#aboutPage .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* Therapies */

#therapiesPage {
  margin-top: 20%;
}

#therapiesPage #therapies .row .therapy {
  height: 60vh;
  font-family: 'Bad Script', cursive;
  position: relative;
  text-decoration: none;
  color: black;
}

#therapiesPage #therapies .row .therapy:hover {
  font-weight: bold;
}

#therapiesPage #therapies .row .therapy p {
  font-family: 'Bad Script', cursive;
  font-size: 2rem;
  vertical-align: middle;
}

#therapiesPage #therapies .row:first-child .therapy:first-child {
  background-image: url('../assets/images/Services/PochistvaneLice.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:first-child .therapy:nth-child(2) {
  background-image: url('../assets/images/Services/diamantenomikrodermabrazio.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:first-child .therapy:last-child {
  background-image: url('../assets/images/Services/Oxygen.png');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:nth-child(2) .therapy:first-child {
  background-image: url('../assets/images/Services/химичен.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:nth-child(2) .therapy:nth-child(2) {
  background-image: url('../assets/images/Services/PQAge1.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:nth-child(2) .therapy:last-child {
  background-image: url('../assets/images/Services/profacial.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:nth-child(3) .therapy:first-child {
  background-image: url('../assets/images/Services/mesotherapy_face.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:nth-child(3) .therapy:nth-child(2) {
  background-image: url('../assets/images/Services/mesotherapy.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:nth-child(3) .therapy:last-child {
  background-image: url('../assets/images/Services/migli.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:last-child .therapy:first-child {
  background-image: url('../assets/images/Services/vacuum-shape-blur.jpg');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:last-child .therapy:nth-child(2) {
  background-image: url('../assets/images/Services/razorlase.png');
  background-position: center;
  background-size: cover;
}

#therapiesPage #therapies .row:last-child .therapy:last-child {
  background-image: url('../assets/images/Services/probivane-na-ushi.png');
  background-position: center;
  background-size: cover;
}

#therapiesPage .btn {
  font-weight: bold;
  border: 1px solid #7c616c;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#therapiesPage .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* pricelist */

#pricelistPage {
  margin-top: 9%;
}

#pricelistPage #pricelist a {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-transform: none;
  color: #7c616c;
  background-color: white;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
  border: 1px solid #7c616c;
  white-space: normal;
}

#pricelistPage #pricelist a:hover {
  color: white;
  background-color: #7c616c;
}

#pricelistPage #pricelist .card-body>* {
  font-family: 'Roboto Slab', serif;
}

#pricelistPage #pricelist .card-body .light {
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
}

#pricelistPage #pricelist .card-body .odd {
  background-color: #e8e8e8;
}

#pricelistPage #pricelist .card-body .woman.odd {
  background-color: #FFF8FB;
}

#pricelistPage #pricelist .card-body .man.odd {
  background-color: #F7FAFF;
}

#pricelistPage #pricelist .card-body div strong {
  font-weight: 700;
}

#pricelistPage #pricelist .card-body div .no-white-space {
  white-space: nowrap;
}

#pricelistPage main>.btn {
  font-weight: bold;
  border: 1px solid #7c616c;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#pricelistPage main>.btn:hover {
  color: white;
  background-color: #7c616c;
}

/* contact */

#contactPage #contact {
  padding-top: 9%;
  padding: 0;
  position: relative;
}

#contactPage #contact iframe {
  width: 100vw;
  height: 80vh;
  margin: 0;
  padding: 0;
  display: block;
}

#contactPage #contact #info * {
  font-family: 'Roboto Slab', serif;
}

#contactPage #contact #info {
  bottom: 0;
  background-color: #c6c6c6;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  width: 100%;
}

#contactPage #contact #info div a {
  color: #5d5d5d;
  text-decoration: none;
  position: relative;
}

#contactPage #contact #info div #tel {
  color: black;
  text-decoration: none;
  position: relative;
}

#contactPage #contact #info div a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.2px;
  bottom: 0;
  left: 0;
  background-color: #7c616c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#contactPage #contact #info div a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#contactPage #contact #info>div>p {
  color: #7c616c;
}

#contactPage form * {
  font-family: 'Roboto Slab', serif;
}

#contactPage form h2 {
  font-size: 1.5rem;
}

#contactPage form textarea {
  width: 100%;
  height: 20vh;
}

#contactPage form .btn {
  outline: none;
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  border: 1px solid #7c616c;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#contactPage form .btn:hover {
  color: #7c616c;
  background-color: white;
}

#contactPage form .form-control {
  outline: none;
  border-color: #7c616c;
}

#contactPage form .form-control:focus {
  -webkit-box-shadow: inset 0 0px 8px #7c616c, 0 0 10px #7c616c;
  box-shadow: inset 0 0px 8px #7c616c, 0 0 10px #7c616c;
}

#contactPage form textarea {
  outline: none;
  border: 1px solid #7c616c;
  border-radius: 3px
}

#contactPage form textarea:focus {
  outline: none;
  border: 1px solid #7c616c;
  -webkit-box-shadow: inset 0 0px 5px #7c616c, 0 0 10px #7c616c;
  box-shadow: inset 0 0px 5px #7c616c, 0 0 10px #7c616c;
}

/* brands */

#brandsPage #brands {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-top: 25%;
  margin-bottom: 4%;
}

#brandsPage #brands a {
  color: #7c616c;
  border: 1px solid #7c616c;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
  border-radius: 3px;
  font-size: 1.5rem;
}

#brandsPage #brands a:hover {
  text-decoration: none;
  color: white;
  background-color: #7c616c;
}

/* products */

#productsPage #products {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-top: 25%;
  margin-bottom: 4%;
}

#productsPage #products a {
  border-radius: 3px;
  font-size: 1.5rem;
  color: #7c616c;
  border: 1px solid #7c616c;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#productsPage #products a:hover {
  text-decoration: none;
  color: white;
  background-color: #7c616c;
}

/* medik8 */

#medik8Page #medik8 {
  margin-top: 22%;
}

#medik8Page #medik8 .slick-prev {
  left: -25px;
}

#medik8Page #medik8 .slick-next {
  right: -25px;
}

#medik8Page #medik8>h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 1rem;
}

#medik8Page #medik8 .medik8-row {
  margin-bottom: 4%;
}

#medik8Page #medik8 .medik8-row h3 {
  font-size: 1.3rem;
}

#medik8Page #medik8 .medik8-row .products-slick {
  padding: 0;
}

#medik8Page #medik8 .medik8-row:last-of-type {
  margin-bottom: 1%;
}

#medik8Page #medik8 .medik8-row .medik8-item {
  padding: 0;
}

#medik8Page #medik8 .medik8-row .medik8-item img {
  width: 220px;
  height: 220px;
}

#medik8Page #medik8 .medik8-row .medik8-item div h4 {
  font-size: 1rem;
  color: #792841;
}

#medik8Page #medik8 .medik8-row .medik8-item div p {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
}

#medik8Page #medik8 .medik8-row .medik8-item .lighter p {
  font-family: 'Roboto Slab', serif;
}

#medik8Page #medik8 .medik8-row .medik8-item .lighter thin {
  font-weight: 100;
  font-family: 'Roboto Slab', serif;
}

#medik8Page #medik8 .medik8-row .medik8-item .lighter strong {
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
}

/* gatineau */

#gatineauPage #gatineau {
  margin-top: 22%;
}

#gatineauPage #gatineau .slick-prev {
  left: -25px;
}

#gatineauPage #gatineau .slick-next {
  right: -25px;
}

#gatineauPage #gatineau>h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 1rem;
}

#gatineauPage #gatineau .gatineau-row {
  margin-bottom: 4%;
}

#gatineauPage #gatineau .gatineau-row h3 {
  font-size: 1.3rem;
}

#gatineauPage #gatineau .gatineau-row .products-slick {
  padding: 0;
}

#gatineauPage #gatineau .gatineau-row:last-of-type {
  margin-bottom: 1%;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item {
  padding: 0;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item img {
  width: 220px;
  height: 220px;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item div h4 {
  font-size: 1rem;
  color: #792841;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item div p {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item .lighter p {
  font-family: 'Roboto Slab', serif;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item .lighter thin {
  font-weight: 100;
  font-family: 'Roboto Slab', serif;
}

#gatineauPage #gatineau .gatineau-row .gatineau-item .lighter strong {
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
}

/* pq-age-himichen-piling */

#pq-age-himichen-pilingPage #pq-age-himichen-piling .pq-age-himichen-pilingbg {
  background-image: url('../assets/images/Services/terapiesSub/PQAge1.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

#pq-age-himichen-pilingPage #pq-age-himichen-piling .pq-age-himichen-pilingbg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#pq-age-himichen-pilingPage #pq-age-himichen-piling .text p {
  font-size: 1rem;
}

#pq-age-himichen-pilingPage #pq-age-himichen-piling .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#pq-age-himichen-pilingPage #pq-age-himichen-piling .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#pq-age-himichen-pilingPage #pq-age-himichen-piling .btn:hover {
  color: white;
  background-color: #7c616c;
}
/* probivane-na-ushi */

#probivane-na-ushiPage #probivane-na-ushi .probivane-na-ushibg {
  background-image: url('../assets/images/Services/terapiesSub/probivane-na-ushi.png');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

#probivane-na-ushiPage #probivane-na-ushi .probivane-na-ushibg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#probivane-na-ushiPage #probivane-na-ushi .text p {
  font-size: 1rem;
}

#probivane-na-ushiPage #probivane-na-ushi .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#probivane-na-ushiPage #probivane-na-ushi .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#probivane-na-ushiPage #probivane-na-ushi .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* oxygen */

#oxygenPage #oxygen .oxygenbg {
  background-image: url('../assets/images/Services/terapiesSub/Oxygen.png');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

#oxygenPage #oxygen .oxygenbg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#oxygenPage #oxygen .text p {
  font-size: 1rem;
}

#oxygenPage #oxygen .text ul {
  color: #980c4a;
}

#oxygenPage #oxygen .text ul p {
  color: black;
}

#oxygenPage #oxygen .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#oxygenPage #oxygen .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#oxygenPage #oxygen .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* vacuum */

#vacuumPage #vacuum .vacuumbg {
  background-image: url('../assets/images/Services/terapiesSub/vacuum-shape.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

#vacuumPage #vacuum .vacuumbg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#vacuumPage #vacuum .text p {
  font-size: 1rem;
}

#vacuumPage #vacuum .text ul {
  color: #980c4a;
}

#vacuumPage #vacuum .text ul p {
  color: black;
}

#vacuumPage #vacuum .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#vacuumPage #vacuum .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#vacuumPage #vacuum .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* lazerna-epilacia */

#lazerna-epilaciaPage #lazerna-epilacia .lazerna-epilaciabg {
  background-image: url('../assets/images/Services/terapiesSub/razorlase.png');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

#lazerna-epilaciaPage #lazerna-epilacia .lazerna-epilaciabg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#lazerna-epilaciaPage #lazerna-epilacia .text p {
  font-size: 1rem;
}

#lazerna-epilaciaPage #lazerna-epilacia .text ul {
  color: #980c4a;
}

#lazerna-epilaciaPage #lazerna-epilacia .text ul p {
  color: black;
}

#lazerna-epilaciaPage #lazerna-epilacia .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#lazerna-epilaciaPage #lazerna-epilacia .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#lazerna-epilaciaPage #lazerna-epilacia .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* eyelashes */

#eyelashesPage #eyelashes .eyelashesbg {
  background-image: url('../assets/images/Services/terapiesSub/migli.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

#eyelashesPage #eyelashes .eyelashesbg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#eyelashesPage #eyelashes .text p {
  font-size: 1rem;
}

#eyelashesPage #eyelashes .text ul {
  color: #980c4a;
}

#eyelashesPage #eyelashes .text ul p {
  color: black;
}

#eyelashesPage #eyelashes .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#eyelashesPage #eyelashes .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#eyelashesPage #eyelashes .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* mikrodermaobrazio */

#mikrodermaobrazioPage #mikrodermaobrazio .mikrodermaobraziobg {
  background-image: url('../assets/images/Services/terapiesSub/diamantenomikrodermabrazio.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

#mikrodermaobrazioPage #mikrodermaobrazio .mikrodermaobraziobg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#mikrodermaobrazioPage #mikrodermaobrazio .text p {
  font-size: 1rem;
}

#mikrodermaobrazioPage #mikrodermaobrazio .text ul {
  color: #980c4a;
}

#mikrodermaobrazioPage #mikrodermaobrazio .text ul p {
  color: black;
}

#mikrodermaobrazioPage #mikrodermaobrazio .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#mikrodermaobrazioPage #mikrodermaobrazio .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#mikrodermaobrazioPage #mikrodermaobrazio .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* proceduri-za-lice-pochistvane */

#proceduri-za-lice-pochistvanePage #proceduri-za-lice-pochistvane .proceduri-za-lice-pochistvanebg {
  background-image: url('../assets/images/Services/terapiesSub/PochistvaneLice.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

#proceduri-za-lice-pochistvanePage #proceduri-za-lice-pochistvane .proceduri-za-lice-pochistvanebg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#proceduri-za-lice-pochistvanePage #proceduri-za-lice-pochistvane .text p {
  font-size: 1rem;
}

#proceduri-za-lice-pochistvanePage #proceduri-za-lice-pochistvane .text ul {
  color: #980c4a;
}

#proceduri-za-lice-pochistvanePage #proceduri-za-lice-pochistvane .text ul p {
  color: black;
}

#proceduri-za-lice-pochistvanePage #proceduri-za-lice-pochistvane .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#proceduri-za-lice-pochistvanePage #proceduri-za-lice-pochistvane .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#proceduri-za-lice-pochistvanePage #proceduri-za-lice-pochistvane .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* aquafacial-kozmetichni-proceduri */

#aquafacial-kozmetichni-proceduriPage #aquafacial-kozmetichni-proceduri .aquafacial-kozmetichni-proceduribg {
  background-image: url('../assets/images/Services/terapiesSub/profacial.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
  margin-top: 10vh;
}

#aquafacial-kozmetichni-proceduriPage #aquafacial-kozmetichni-proceduri .aquafacial-kozmetichni-proceduribg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#aquafacial-kozmetichni-proceduriPage #aquafacial-kozmetichni-proceduri .text p {
  font-size: 1rem;
}

#aquafacial-kozmetichni-proceduriPage #aquafacial-kozmetichni-proceduri .text ul {
  color: #980c4a;
}

#aquafacial-kozmetichni-proceduriPage #aquafacial-kozmetichni-proceduri .text ul p {
  color: black;
}

#aquafacial-kozmetichni-proceduriPage #aquafacial-kozmetichni-proceduri .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#aquafacial-kozmetichni-proceduriPage #aquafacial-kozmetichni-proceduri .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#aquafacial-kozmetichni-proceduriPage #aquafacial-kozmetichni-proceduri .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* premahvane-na-celulit-mezoterapia */

#premahvane-na-celulit-mezoterapiaPage #premahvane-na-celulit-mezoterapia .premahvane-na-celulit-mezoterapiabg {
  background-image: url('../assets/images/Services/terapiesSub/mesotherapy.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
  margin-top: 10vh;
}

#premahvane-na-celulit-mezoterapiaPage #premahvane-na-celulit-mezoterapia .premahvane-na-celulit-mezoterapiabg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#premahvane-na-celulit-mezoterapiaPage #premahvane-na-celulit-mezoterapia .text p {
  font-size: 1rem;
}

#premahvane-na-celulit-mezoterapiaPage #premahvane-na-celulit-mezoterapia .text ul {
  color: #980c4a;
}

#premahvane-na-celulit-mezoterapiaPage #premahvane-na-celulit-mezoterapia .text ul p {
  color: black;
}

#premahvane-na-celulit-mezoterapiaPage #premahvane-na-celulit-mezoterapia .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#premahvane-na-celulit-mezoterapiaPage #premahvane-na-celulit-mezoterapia .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#premahvane-na-celulit-mezoterapiaPage #premahvane-na-celulit-mezoterapia .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* premahvane-na-celulit-mezoterapia */

#mezoterapia-za-licePage #mezoterapia-za-lice .mezoterapia-za-licebg {
  background-image: url('../assets/images/Services/terapiesSub/mesotherapy_face.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
  margin-top: 10vh;
}

#mezoterapia-za-licePage #mezoterapia-za-lice .mezoterapia-za-licebg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#mezoterapia-za-licePage #mezoterapia-za-lice .text p {
  font-size: 1rem;
}

#mezoterapia-za-licePage #mezoterapia-za-lice .text ul {
  color: #980c4a;
}

#mezoterapia-za-licePage #mezoterapia-za-lice .text ul p {
  color: black;
}

#mezoterapia-za-licePage #mezoterapia-za-lice .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#mezoterapia-za-licePage #mezoterapia-za-lice .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#mezoterapia-za-licePage #mezoterapia-za-lice .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* himichen-piling */

#himichen-pilingPage #himichen-piling .himichen-pilingbg {
  background-image: url('../assets/images/Services/terapiesSub/химичен.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
}

#himichen-pilingPage #himichen-piling .himichen-pilingbg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: 'Bad Script', cursive;
  color: #661c3a;
}

#himichen-pilingPage #himichen-piling .text p {
  font-size: 1rem;
}

#himichen-pilingPage #himichen-piling .text ul {
  color: #980c4a;
}

#himichen-pilingPage #himichen-piling .text ul p {
  color: black;
}

#himichen-pilingPage #himichen-piling .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#himichen-pilingPage #himichen-piling .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#himichen-pilingPage #himichen-piling .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* enerpeelBrand */

#enerpeelBrandPage #enerpeelBrand .enerpeelBrandbg {
  padding: 8% 0% 0% 0%;
}

#enerpeelBrandPage #enerpeelBrand .enerpeelBrandbg p {
  text-align: center;
  padding: 2%;
  font-size: 6rem;
  font-family: 'Roboto Slab', serif;
  color: white;
  font-weight: 200;
}

#enerpeelBrandPage #enerpeelBrand .text p {
  font-size: 1rem;
}

#enerpeelBrandPage #enerpeelBrand .text h4 {
  font-size: 1rem;
}

#enerpeelBrandPage #enerpeelBrand .text p.pink {
  color: #980c4a;
}

#enerpeelBrandPage #enerpeelBrand .text ul p {
  text-transform: none;
}

#enerpeelBrandPage #enerpeelBrand .text ul {
  list-style-position: unset;
}

#enerpeelBrandPage #enerpeelBrand .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#enerpeelBrandPage #enerpeelBrand .btn:hover {
  color: white;
  background-color: #7c616c;
}

#enerpeelBrandPage #enerpeelBrand .pink.bold.caps {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  color: #980c4a;
  font-weight: bold;
}

/* gatineauBrand */

#gatineauBrandPage #gatineauBrand {
  margin-top: 8%;
}

#gatineauBrandPage #gatineauBrand .images img {
  width: 100%;
}

#gatineauBrandPage #gatineauBrand .gatineauBrandbg p {
  text-align: center;
  padding: 2%;
  font-size: 6rem;
  font-family: 'Roboto Slab', serif;
  color: white;
  font-weight: 200;
}

#gatineauBrandPage #gatineauBrand .text p {
  font-size: 1rem;
}

#gatineauBrandPage #gatineauBrand .text .pink {
  color: #980c4a;
}

#gatineauBrandPage #gatineauBrand .text ul p {
  text-transform: none;
}

#gatineauBrandPage #gatineauBrand .text ul {
  list-style-position: unset;
}

#gatineauBrandPage #gatineauBrand .text h4 {
  color: #980c4a;
  font-size: 1rem;
}

#gatineauBrandPage .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#gatineauBrandPage .btn:hover {
  color: white;
  background-color: #7c616c;
}

#gatineauBrandPage #gatineauBrand .pink.bold.caps {
  font-family: 'Roboto Slab', serif;
  text-align: left;
  text-transform: uppercase;
  color: #980c4a;
  font-weight: bold;
}

/* medik8Brand */

#medik8BrandPage #medik8Brand {
  margin-top: 4%;
}

#medik8BrandPage #medik8Brand .medik8Brandbg {
  background-image: url('../assets/images/Marki/Medik8/Medik8_group_photo_shop.pureaesthetics.co_.uk_.jpg');
  background-position: bottom;
  background-size: cover;
  position: relative;
  height: 60vh;
}

#medik8BrandPage #medik8Brand .medik8Brandbg p {
  text-align: center;
  padding: 2%;
  font-size: 6rem;
  font-family: 'Roboto Slab', serif;
  color: white;
  font-weight: 200;
}

#medik8BrandPage #medik8Brand .text p {
  font-size: 1rem;
}

#medik8BrandPage #medik8Brand .text .pink {
  color: #980c4a;
}

#medik8BrandPage #medik8Brand .text ul p {
  text-transform: none;
}

#medik8BrandPage #medik8Brand .text ul {
  list-style-position: unset;
}

#medik8BrandPage #medik8Brand .text h4 {
  color: #980c4a;
  font-size: 1rem;
}

#medik8BrandPage .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#medik8BrandPage .btn:hover {
  color: white;
  background-color: #7c616c;
}

#medik8BrandPage #medik8Brand .pink.bold.caps {
  font-family: 'Roboto Slab', serif;
  text-align: left;
  text-transform: uppercase;
  color: #980c4a;
  font-weight: bold;
}

/* promoitaliaBrand */

#promoitaliaBrandPage #promoitaliaBrand .promoitaliaBrandbg {
  padding: 5% 0% 0% 0%;
}

#promoitaliaBrandPage #promoitaliaBrand .promoitaliaBrandbg p {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: white;
  font-weight: 200;
}

#promoitaliaBrandPage #promoitaliaBrand .promoitaliaBrandbg p:first-child {
  font-size: 6rem;
  padding-top: 15%;
  margin-bottom: 0;
}

#promoitaliaBrandPage #promoitaliaBrand .promoitaliaBrandbg p:nth-of-type(2) {
  font-size: 3rem;
}

#promoitaliaBrandPage #promoitaliaBrand .promoitaliaBrandbg p:last-child {
  font-size: 2rem;
  padding-top: 2%;
  padding-bottom: 5%;
}

#promoitaliaBrandPage #promoitaliaBrand .text p {
  font-size: 1rem;
}

#promoitaliaBrandPage #promoitaliaBrand .text .pink {
  color: #980c4a;
}

#promoitaliaBrandPage #promoitaliaBrand .text ul p {
  text-transform: none;
}

#promoitaliaBrandPage #promoitaliaBrand .text ul {
  list-style-position: unset;
}

#promoitaliaBrandPage #promoitaliaBrand .text h4 {
  color: #980c4a;
  font-size: 1rem;
}

#promoitaliaBrandPage .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#promoitaliaBrandPage .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* proceduri-za-lice */

#proceduri-za-licePage #proceduri-za-lice .proceduri-za-licebg {
  background-image: url('../assets/images/Home/model-face-beautiful-black-and-white-407035-2.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
  margin-top: 5%;
}

#proceduri-za-licePage #proceduri-za-lice .proceduri-za-licebg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #980c4a
}

#proceduri-za-licePage #proceduri-za-lice .text p {
  font-size: 1rem;
}

#proceduri-za-licePage #proceduri-za-lice .text ul {
  color: #980c4a;
}

#proceduri-za-licePage #proceduri-za-lice .text ul p {
  color: black;
}

#proceduri-za-licePage #proceduri-za-lice .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#proceduri-za-licePage #proceduri-za-lice .text .pink {
  color: #980c4a;
}

#proceduri-za-licePage #proceduri-za-lice .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#proceduri-za-licePage #proceduri-za-lice .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* kozmetichni-proceduri-griji */

#kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji {
  margin-top: 7%;
  padding: 0 !important;
}

#kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .kozmetichni-proceduri-grijibg {
  background-image: url('../assets/images/Home/Hubavakoja.jpeg');
  background-size: cover;
  position: relative;
  height: 60vh;
}

#kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .kozmetichni-proceduri-grijibg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #980c4a
}

#kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .text p {
  font-size: 1rem;
}

#kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .text ul {
  color: #980c4a;
}

#kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .text ul p {
  color: black;
}

#kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .text .pink {
  color: #980c4a;
}

#kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* medicinska-kozmetika */

#medicinska-kozmetikaPage #medicinska-kozmetika .medicinska-kozmetikabg {
  background-image: url('../assets/images/Home/news3.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
  margin-top: 5%;
}

#medicinska-kozmetikaPage #medicinska-kozmetika .medicinska-kozmetikabg p {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 2%;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #980c4a
}

#medicinska-kozmetikaPage #medicinska-kozmetika .text p {
  font-size: 1rem;
}

#medicinska-kozmetikaPage #medicinska-kozmetika .text strong {
  font-weight: bold;
}

#medicinska-kozmetikaPage #medicinska-kozmetika .text ul {
  color: #980c4a;
}

#medicinska-kozmetikaPage #medicinska-kozmetika .text ul p {
  color: black;
}

#medicinska-kozmetikaPage #medicinska-kozmetika .text h4 {
  color: #980c4a;
  font-size: 1rem;
  font-weight: normal;
}

#medicinska-kozmetikaPage #medicinska-kozmetika .text .pink {
  color: #980c4a;
}

#medicinska-kozmetikaPage #medicinska-kozmetika .btn {
  border-color: #7c616c;
  font-weight: bold;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#medicinska-kozmetikaPage #medicinska-kozmetika .btn:hover {
  color: white;
  background-color: #7c616c;
}

/* orderPage */

#orderPage {
  margin-top: 10%;
}

#orderPage form * {
  font-family: 'Roboto Slab', serif;
}

#orderPage form h2 {
  font-size: 2.5rem;
}

#orderPage form .btn {
  outline: none;
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  border: 1px solid #7c616c;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#orderPage form .btn:hover {
  color: #7c616c;
  background-color: white;
}

#orderPage form .form-control {
  outline: none;
  border-color: #7c616c;
}

#orderPage form .form-control:focus {
  -webkit-box-shadow: inset 0 0px 8px #7c616c, 0 0 10px #7c616c;
  box-shadow: inset 0 0px 8px #7c616c, 0 0 10px #7c616c;
}

/* filledFormPage */

#filledFormPage {
  border: 2px solid #7c616c;
  padding: 0;
  padding-bottom: 1%;
}

#filledFormPage h2 {
  background: #7c616c;
  color: white;
  padding: 2%;
  font-size: 1.5rem;
}

#filledFormPage .btn {
  outline: none;
  font-weight: bold;
  color: white;
  background-color: #7c616c;
  border: 1px solid #7c616c;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

#filledFormPage .btn:hover {
  color: #7c616c;
  background-color: white;
}

/* ---------------------- Different screens ---------------------- */

@media only screen and (min-width: 576px) {
  #homePage #brands {
    background-color: #525252;
    margin: 7em 0;
    padding: 2rem 0;
  }

  #homePage #brands .brand-container {
    width: 600px;
    margin: auto;
  }

  #homePage #intro #introName h1 {
    font-size: 4rem;
  }

  #homePage #intro #introName h3 {
    font-size: 2rem
  }

  #homePage #gift h2 {
    font-size: 2rem;
  }

  #homePage #brands h2 {
    font-size: 2rem;
  }

  #homePage #testimonials h2 {
    font-size: 2rem;
  }

  #aboutPage #name {
    padding: 15% 0 1% 0;
  }

  #brandsPage #brands {
    margin-top: 15%;
  }

  #contactPage form h2 {
    font-size: 2rem;
  }

  #gatineauPage #gatineau {
    margin-top: 15%;
  }

  #gatineauPage #gatineau>h3 {
    font-size: 1.2rem;
  }

  #gatineauPage #gatineau .gatineau-row h3 {
    font-size: 2rem;
  }

  #gatineauPage #gatineau .gatineau-row .gatineau-item img {
    width: 250px;
    height: 250px;
  }

  #therapiesPage {
    margin-top: 15%;
  }

  #medik8Page #medik8 {
    margin-top: 15%;
  }

  #medik8Page #medik8>h3 {
    font-size: 1.2rem;
  }

  #medik8Page #medik8 .medik8-row h3 {
    font-size: 2rem;
  }

  #medik8Page #medik8 .medik8-row .medik8-item img {
    width: 250px;
    height: 250px;
  }

  #himichen-pilingPage #himichen-piling .himichen-pilingbg {
    height: 60vh;
  }

  #medik8BrandPage #medik8Brand .medik8Brandbg {
    height: 70vh;
  }

  #oxygenPage #oxygen .oxygenbg {
    height: 60vh;
  }

  #mezoterapia-za-licePage #mezoterapia-za-lice .mezoterapia-za-licebg {
    height: 60vh;
  }

  #premahvane-na-celulit-mezoterapiaPage #premahvane-na-celulit-mezoterapia .premahvane-na-celulit-mezoterapiabg {
    height: 60vh;
  }

  #vacuumPage #vacuum .vacuumbg {
    height: 60vh;
  }

  #lazerna-epilaciaPage #lazerna-epilacia .lazerna-epilaciabg {
    height: 60vh;
  }

  #eyelashesPage #eyelashes .eyelashesbg {
    height: 60vh;
  }

  #mikrodermaobrazioPage #mikrodermaobrazio .mikrodermaobraziobg {
    height: 60vh;
  }

  #proceduri-za-licePage #proceduri-za-lice .proceduri-za-licebg p {
    font-size: 2rem;
    line-height: 3rem
  }

  #proceduri-za-licePage #proceduri-za-lice .proceduri-za-licebg {
    height: 60vh;
  }

  #kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .kozmetichni-proceduri-grijibg {
    height: 60vh;
    background-position: center;
  }

  #medicinska-kozmetikaPage #medicinska-kozmetika .medicinska-kozmetikabg {
    height: 60vh;
  }

  #pq-age-himichen-pilingPage #pq-age-himichen-piling .pq-age-himichen-pilingbg {
    height: 60vh;
  }

  #aquafacial-kozmetichni-proceduriPage #aquafacial-kozmetichni-proceduri .aquafacial-kozmetichni-proceduribg {
    height: 60vh;
  }

  #medicinska-kozmetikaPage #medicinska-kozmetika .medicinska-kozmetikabg p {
    font-size: 2rem;
    line-height: 3rem
  }

  #productsPage #products {
    margin-top: 15%;
  }
}

@media only screen and (min-width: 768px) {
  #aboutPage #name {
    padding: 13% 0 1% 0;
  }

  #brandsPage #brands {
    margin-top: 13%;
  }

  #contactPage #contact #info {
    position: absolute;
    bottom: 0;
    background-color: #c6c6c6;
    margin: 0;
    right: 0;
    padding: 0;
    font-size: 1rem;
    width: auto;
  }

  #filledFormPage h2 {
    font-size: 2rem;
  }

  #gatineauPage #gatineau .slick-prev {
    left: -50px;
  }

  #gatineauPage #gatineau .slick-next {
    right: -50px;
  }

  #gatineauPage #gatineau {
    margin-top: 12%;
  }

  #therapiesPage {
    margin-top: 10%;
  }

  #medik8Page #medik8 .slick-prev {
    left: -50px;
  }

  #medik8Page #medik8 .slick-next {
    right: -50px;
  }

  #medik8Page #medik8 {
    margin-top: 12%;
  }

  #himichen-pilingPage #himichen-piling .himichen-pilingbg {
    height: 70vh;
  }

  #medik8BrandPage #medik8Brand .medik8Brandbg {
    height: auto;
    background-position: center;
  }

  #oxygenPage #oxygen .oxygenbg {
    height: 70vh;
  }

  #eyelashesPage #eyelashes .eyelashesbg {
    height: 70vh;
  }

  #mezoterapia-za-licePage #mezoterapia-za-lice .mezoterapia-za-licebg {
    height: 70vh;
  }

  #premahvane-na-celulit-mezoterapiaPage #premahvane-na-celulit-mezoterapia .premahvane-na-celulit-mezoterapiabg {
    height: 70vh;
  }

  #vacuumPage #vacuum .vacuumbg {
    height: 70vh;
  }

  #lazerna-epilaciaPage #lazerna-epilacia .lazerna-epilaciabg {
    height: 70vh;
  }

  #mikrodermaobrazioPage #mikrodermaobrazio .mikrodermaobraziobg {
    height: 70vh;
  }

  #proceduri-za-licePage #proceduri-za-lice .proceduri-za-licebg {
    height: 70vh;
  }

  #kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .kozmetichni-proceduri-grijibg {
    height: 70vh;
  }

  #medicinska-kozmetikaPage #medicinska-kozmetika .medicinska-kozmetikabg {
    height: 70vh;
  }

  #pq-age-himichen-pilingPage #pq-age-himichen-piling .pq-age-himichen-pilingbg {
    height: 70vh;
  }

  #aquafacial-kozmetichni-proceduriPage #aquafacial-kozmetichni-proceduri .aquafacial-kozmetichni-proceduribg {
    height: 70vh;
  }
}

@media only screen and (min-width: 992px) {

  #aboutPage #name {
    padding: 11% 0 1% 0;
  }

  #mobileHeader {
    display: none;
  }

  #header * {
    font-family: 'Roboto Slab', serif;
  }

  #header {
    display: block;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  #header #header1 {
    background-color: #191919;
    padding: 0;
  }

  #header #header1 ul {
    padding: 0;
  }

  #header #header1 ul li.disabled a {
    color: #7c616c;
    cursor: default;
    pointer-events: none;
  }

  #header #header1 ul li a {
    color: white;
    line-height: 2.5rem;
    font-size: 0.9rem;
  }

  #header #header1 ul a {
    -webkit-transition: background-color .8s;
    transition: background-color .8s;
  }

  #header #header1 ul li:nth-child(n):nth-last-child(n+3) a:hover {
    background-color: rgba(198, 198, 198);
    color: black;
  }

  #header #header1 ul li:nth-last-child(-n+2) a {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }

  #header #header1 ul li:nth-last-child(-n+2) a:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-filter: drop-shadow(0px 0px 2px grey);
    filter: drop-shadow(0px 0px 2px grey);
  }

  #header #header2 {
    background-color: rgb(198, 198, 198);
    padding: 0;
  }

  #header #header2 ul {
    padding: 0;
  }

  #header #header2 ul li a {
    color: black;
    line-height: 2.5rem;
    -webkit-transition: background-color .8s;
    transition: background-color .8s;
    font-size: 0.9rem;
  }

  #header #header2 ul li.disabled a {
    color: #7c616c;
    cursor: default;
    pointer-events: none;
  }

  #header #header2 ul li a:hover {
    background-color: #191919;
    color: white;
  }

  #brandsPage #brands {
    margin-top: 13%;
  }

  #gatineauPage #gatineau {
    margin-top: 11%;
  }

  #medik8Page #medik8 {
    margin-top: 11%;
  }

  #himichen-pilingPage #himichen-piling .himichen-pilingbg {
    margin: 0 10%;
    height: 80vh;
  }

  #oxygenPage #oxygen .oxygenbg {
    margin: 0 10%;
    height: 80vh;
  }

  #eyelashesPage #eyelashes .eyelashesbg {
    margin: 0 10%;
    height: 80vh;
  }

  #mezoterapia-za-licePage #mezoterapia-za-lice .mezoterapia-za-licebg {
    margin: 0 10%;
    height: 80vh;
  }

  #mikrodermaobrazioPage #mikrodermaobrazio .mikrodermaobraziobg {
    margin: 0 10%;
    height: 80vh;
  }

  #premahvane-na-celulit-mezoterapiaPage #premahvane-na-celulit-mezoterapia .premahvane-na-celulit-mezoterapiabg {
    margin: 0 10%;
    height: 80vh;
  }

  #vacuumPage #vacuum .vacuumbg {
    margin: 0 10%;
    height: 80vh;
  }

  #lazerna-epilaciaPage #lazerna-epilacia .lazerna-epilaciabg {
    margin: 0 10%;
    height: 80vh;
  }

  #proceduri-za-licePage #proceduri-za-lice .proceduri-za-licebg {
    height: 80vh;
    margin: 0 10%;
  }

  #kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .kozmetichni-proceduri-grijibg {
    height: 80vh;
    margin: 0 10%;
  }

  #medicinska-kozmetikaPage #medicinska-kozmetika .medicinska-kozmetikabg {
    height: 80vh;
    margin: 0 10%;
  }

  #proceduri-za-lice-pochistvanePage #proceduri-za-lice-pochistvane .proceduri-za-lice-pochistvanebg {
    height: 80vh;
    margin: 0 10%;
  }

  #pq-age-himichen-pilingPage #pq-age-himichen-piling .pq-age-himichen-pilingbg {
    height: 80vh;
    margin: 0 10%;
  }

  #aquafacial-kozmetichni-proceduriPage #aquafacial-kozmetichni-proceduri .aquafacial-kozmetichni-proceduribg {
    height: 80vh;
    margin: 0 10%;
  }
}

@media only screen and (min-width: 1200px) {
  #homePage #brands .brand-container {
    width: 100%;
  }

  #aboutPage #name {
    padding: 9% 0 1% 0;
  }

  #brandsPage #brands {
    margin-top: 10%;
  }

  #kozmetichni-proceduri-grijiPage #kozmetichni-proceduri-griji .kozmetichni-proceduri-grijibg {
    height: 100vh;
  }

  #productsPage #products {
    margin-top: 12%;
  }

  #therapiesPage {
    margin-top: 9%;
  }
}